@model KrcSoftWeb.Models.DataModel
@{
    ViewBag.Title = "EditAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Hakkımızda</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form action="/Admin/EditAbout/" method="post" enctype="multipart/form-data">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Başlık</label>
                    <input name="Baslik" type="text" class="form-control" id="exampleInputEmail1" value="@Model.Hakkimizda.Baslik" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">İçerik</label>
                    <textarea class="form-control" name="Icerik" rows="5" required>@Model.Hakkimizda.Icerik</textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" >@ViewBag.EditAboutMesaj</label>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </form>
    </div>
</div>


