@model KrcSoftWeb.Models.DataModel
@{
    ViewBag.Title = "Sectors";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Sektör Güncelle</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form action="/Admin/UpdateSector/" method="post">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Sektör Güncelle</label>
                    <input name="Adi" type="text" class="form-control" id="exampleInputEmail1" value="@Model.guncellenecekSektor.Adi">
                </div>
                <input hidden type="text" value="@Model.guncellenecekSektor.ID" name="ID" />
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-success">Güncelle</button>
            </div>
        </form>
    </div>

</div>